@import '../variables.scss';
@import '../mixins.scss';

.form {
  @include form(384px);

  .alert {
    @include alert;
  }

  .divider {
    @include margin-top-bottom(21px, 8px);
  }

  .checkbox {
    gap: 8px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  .markdown {
    @include margin-top-bottom(26px, 0);
    overflow: auto;
  }
}
