@import '../variables.scss';
@import '../mixins.scss';

.post {
  margin: 108px auto 30px;
  background-color: $bg-color;
  max-width: 938px;
  box-shadow: $shadow;
  padding: 16px;

  .preview {
    display: flex;
    justify-content: space-between;
  }

  .markdown {
    @include margin-top-bottom(26px, 0);
    overflow: auto;
  }
}
