@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  @include component(80px, 22px, $bg-color, flex);
  width: 100%;
  font-family: $font;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  box-shadow: 0 1px 32px -30px black;

  .site-name {
    @include font-style(18px, 400, 28px);
    align-self: center;
    text-align: left;

    &:visited {
      color: $text-color-main !important;
    }

    &:hover {
      color: $accent-color;
    }
  }

  .account-block {
    display: flex;
    align-items: center;
    gap: 19px;

    .login,
    .reg,
    .user,
    .logout {
      display: block;
      font-family: $font;
    }

    .create {
      text-align: center;
      @include authButton($button-color, 6px 10px, 1px solid $button-color);
    }

    .user {
      display: flex;
      gap: 13px;
      align-items: center;

      &:hover > .username {
        color: $text-color-light;
      }

      &:visited {
        color: $text-color-main;
      }

      .username {
        @include font-style(18px, 400, 28px, $text-color-main);
        font-family: $font;
        text-align: left;
      }

      .image {
        @include profilePicture;
      }
    }

    .logout {
      cursor: pointer;
      @include authButton($text-color-main, 13px, 1px solid $text-color-main);
    }

    .login {
      @include authButton($text-color-main, 10px, none);
    }

    .reg {
      @include authButton($button-color, 10px, 1px solid $button-color);
    }
  }
}
